table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.active{
  display: none;
}
mat-card {
  max-width: 100%;
  margin: 1em;
 }
 
.full-width-input {
  width: 100%;
}

 
.signin-content {
   max-width: 400px;

}
.full-width-input {
  width: 100%;
}