<form (ngSubmit)="processForm()" [formGroup]="form">

  <mat-form-field >
       <input matInput type="text" class="form-control" name="name" placeholder="Firstname"  required
          formControlName="name">

      <mat-error class="help-block" *ngIf="formErrors.name">
          {{ formErrors.name }}
      </mat-error>
  </mat-form-field>

<mat-form-field >
      <input matInput type="text" class="form-control" name="username"  placeholder="Lastname" required
          formControlName="username">

      <mat-error class="help-block" *ngIf="formErrors.username">
          {{ formErrors.username }}
      </mat-error>
    </mat-form-field>

  <!-- addresses -->
  <div class="form-group" formArrayName="addresses">
      <div *ngFor="let address of form.controls.addresses.controls;let i=index;"> 

          <div class="panel panel-primary">
          

              <div class="panel-body" [formGroupName]="i">
                  <mat-form-field >

                      <input matInput type="text" class="form-control" placeholder="City" formControlName="city" required>

                      <mat-error class="help-block" *ngIf="formErrors.addresses[i].city">
                          {{ formErrors.addresses[i].city }}
                      </mat-error>
                    </mat-form-field >


                    <mat-form-field >

                      <input matInput type="text" class="form-control" placeholder="country" formControlName="country" required>

                      <mat-error class="help-block" *ngIf="formErrors.addresses[i].country">
                          {{ formErrors.addresses[i].country }}
                      </mat-error>
                    </mat-form-field >
                        </div>
          </div>

      </div>
  </div>

   

  <div class="form-group">
      <button mat-button type="submit" class="btn btn-danger">Submit</button>
  </div>

</form>